*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background: hsl(212, 45%, 89%);
}

.container {
    width: 320px;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.qr-code {
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.card-text {
    margin: 0 0.4rem 1.5rem;
    text-align: center;
}

.heading {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.4rem;
    text-wrap: balance;
    margin-bottom: 1rem;
}

.description {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .container {
        width: 325px;
    }
}



